pytz
django>=3.2
simplejson
django-crequest>=2018.5.11
django-tabular-permissions>=2.9.1
django-crispy-forms
dateutils
django-reversion>=3.0.5
django-slick-reporting
django-polymorphic
django-jazzmin>=2.5.0
django-compressor>=2.4
