argon2-cffi >= 16.1.0
bcrypt
docutils
crispy_bootstrap4
# pylibmc/libmemcached can't be built on Windows.
pylibmc; sys.platform != 'win32'
python-memcached >= 1.59
pytz
pywatchman; sys.platform != 'win32'
PyYAML
selenium
sqlparse
tblib >= 1.5.0
psycopg2-binary>=2.5.4
coverage
pyquery
