{% load i18n admin_urls jazzy_tabler %}
{% get_jazzy_ui_tweaks as jazzy_ui %}

{% block object-tools-items %}
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a class="btn w-100 {{ jazzy_ui.button_classes.secondary }} btn-sm" href="{% add_preserved_filters history_url %}">{% trans 'History' %}</a>
    {% if has_absolute_url %}
        <a href="{{ absolute_url }}" class="btn w-100 {{ jazzy_ui.button_classes.secondary }} btn-sm">{% trans "View on site" %}</a>
    {% endif %}
    {% if not add and original and enable_view_view %}
        {% url opts|admin_urlname:'view' original.pk|admin_urlquote as view_url %}
        {% if view_url %}
            <a href="{{ view_url }}" class="btn w-100 {{ jazzy_ui.button_classes.secondary }} btn-sm">{% trans "View Statistics" %}</a>
        {% endif %}
    {% endif %}
{% endblock %}
