{% load i18n static %}


{% include "slick_reporting/js_resources.html" %}


<script>

    jQuery(document).ready(function () {



        $('.exportCsvBtn').on('click', function (e) {
            e.preventDefault()
            let form = $('#reportForm');
            window.location = '?' + form.serialize() + '&_export=csv'
        });


        $('.refreshReport').on('click', function (event) {
            event.preventDefault();
            let $elem = $('[data-report-widget]')
            $.erp_framework.report_loader.refreshReportWidget($elem)
        });


    });
</script>

