{% extends 'erp_framework/base_site.html' %}

{% load crispy_forms_tags i18n static erp_reporting_tags %}


{% block breadcrumbs %}
    <ul class="breadcrumb heading-text">
        <a href="{% url 'admin:index' %}" class="breadcrumb-item">
            <i class="icon-home2 mx-2"></i> {% trans 'Home' %} </a>
        <a class="breadcrumb-item"> {% trans 'Reports' %}</a>
        {#        <a class="breadcrumb-item"> {% get_model_verbose_name_plural base_model %} </a>#}
        <a class="breadcrumb-item"> {{ title }}</a>
    </ul>

{% endblock %}

{% block content %}
    <div class="col-lg-12">

        {% if form %}
            {% include "slick_reporting/report_form.html" %}
        {% endif %}


        <div class="row">
            <div class="col-lg-12">
                <h4 class="py-5">{% trans "Results" %}</h4>
                <div class="card" id="{{ report_data.report_slug }}">
                    <div class="card-body">
                        <div data-report-widget
                             data-report-url="{{ request.path }}"
                             data-extra-params=""
                             data-form-selector="#reportForm"
                                {% if not auto_load %} data-no-auto-load{% endif %}
                             data-display-chart-selector="True">
                            <div data-report-chart>
                            </div>
                            <div data-report-table>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
