{% extends 'ra/admin/base.html' %}

{% load ra_admin_tags ra_tags %}

{% block content %}

{#    <h2>Balance is <span class="expenseTotal"></span></h2>#}
    {% get_report base_model='expense' report_slug='ExpenseDetailedStatement' as transactions %}

    {% with 'expense_id='|addstr:original.pk as id %}
    {% get_html_panel transactions data_extra_param=id %}
    {% endwith %}

    {% get_report base_model='expense' report_slug='ExpenseMovementTimeComparison' as client_sales_of_products %}
    {% with 'expense_id='|addstr:original.pk as id %}
    {% get_html_panel client_sales_of_products data_extra_param=id %}
    {% endwith %}

{% endblock %}
{% block extra_js %}
    <script>
        function displayBalance(response, $elem) {
            console.log(response);
            $('.expenseTotal').text(response['data'][0]['__total__']);
            unblockDiv($elem);
        }
    </script>
{% endblock %}