{#{% load i18n %}#}
{#<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>#}
{#<ul>#}
{#{% for choice in choices %}#}
{#    <li{% if choice.selected %} class="selected"{% endif %}>#}
{#    <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a></li>#}
{#{% endfor %}#}
{#</ul>#}

{% load i18n %}
<div class="col-sm">
<div class="form-group input-group-sm">
<label>Filter By {{ title|capfirst }}</label>
    <select data-name="{{ field_name }}"
            class="form-control select2 search-filter{% if spec.lookup_val or spec.used_parameters %} active{% endif %}"
            style="">
        {% for choice in choices %}
            {% if forloop.first %}
{#                <option value="">{{ title|capfirst }}</option>#}
                <option value="">---</option>
            {% else %}
                <option {% if choice.selected %} class="selected"{% endif %}
                                                 data-filter="{{ choice.query_string|iriencode }}"
                                                 value="{{ choice.val }}" {{ choice.selected|yesno:' selected="selected",' }}>
                    {% if choice.selected %}{{ title|capfirst }}: {% endif %}{{ choice.display }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
</div>