{% load i18n ra_tags ra_report_tags %}
<ul class="heading-btn float-right">
    <a class=" btn btn-outline-primary btn-flat    refreshReport screenOnly"
       data-toggle="tooltip"
       title="{% trans 'refresh'|capfirst %}" data-placement="top"
       href="#{{ report.get_report_slug }}">
        {% trans 'refresh'|capfirst %}
        <i class="fa fa-refresh position-left"></i></a>
    {% can_print_report report as can_print %}
    {% if can_print %}
        <a class=" btn btn-outline-secondary btn-flat  printReport screenOnly"
           href="#" data-toggle="tooltip" title="{% trans 'Print' %}"
           data-placement="top" data-report-url="{{ report.get_url }}" data-report-slug="{{ report.get_report_slug }}">

            <i class="fa fa-print position-left"></i>         {% trans 'Print' %} </a>

        <div class="btn-group screenOnly download-report">
            <a class="download-csv btn btn-outline-secondary btn-flat    screenOnly"
               href="#{{ report.get_report_slug }}" data-report-url="{{ report.get_url }}" data-report-slug="{{ report.get_report_slug }}">

                <i class="fas fa-file-excel position-left"></i>
                EXCEL
            </a>
            {#                                                            </li>#}
            {##}
            {#                                                        </ul>#}
        </div>
    {% endif %}
</ul>