{% extends "ra/admin/base_site.html" %}
{% load ra_tags crispy_forms_tags crispy_forms_field %}


{% load i18n admin_urls static admin_modify ra_admin_tags %}


{% block breadcrumbs %}
    {#    <ul class="breadcrumb breadcrumb-caret position-right">#}
    <li class="breadcrumb-item">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    </li>

    <li class="breadcrumb-item">
        {% trans "Reports" %}
    </li>

    <li class="breadcrumb-item">
        {{ title }}
    </li>
{% endblock %}

{% block bodyclass %}{% endblock %}


{% block pre_content_wrapper %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for report in reports.reports %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   role="tab"
                   href="#{{ report.get_report_slug }}"
                   ra-report-param="{% get_typed_report_url_param report original report_link_suffix %}&"
                >{{ report.get_report_title }}</a>
            </li>
        {% endfor %}

    </ul>

    <style>
        [dir=ltr] label[for]:first-letter {
            text-transform: capitalize;
        }

    </style>
    <div class="{{ has_detached_sidebar|yesno:'container-detached,' }}">
        <div class="{{ has_detached_sidebar|yesno:'content-detached,' }}">
            <div class="card">
                {% include RA_THEME|add:'/report_list_forms.html' %}
            </div>
        </div>
    </div>

{% endblock %}
{% block bottom_script %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>


    <script>
        {#$('.select2bs4').select2({#}
        {#    theme: 'bootstrap4'#}
        {# });#}
        $(document).ready(function () {
            $('.raReportDateRange').daterangepicker(setDatePickerObj()).on('apply.daterangepicker', function (ev, picker) {

                var container = picker.element;
                var $startDate = container.find('[name=start_date_0]');
                var $startTime = container.find('[name=start_date_1]');
                var $endDate = container.find('[name=end_date_0]');
                var $endTime = container.find('[name=end_date_1]');
                $startDate.val(picker.startDate.format('YYYY') + '-' + picker.startDate.format('MM') + "-" + picker.startDate.format('DD'))
                $startTime.val(picker.startDate.format('HH') + ":" + picker.startDate.format('mm'));
                $endDate.val(picker.endDate.format('YYYY') + '-' + picker.endDate.format('MM') + "-" + picker.endDate.format('DD'))
                $endTime.val(picker.endDate.format('HH') + ":" + picker.endDate.format('mm'));
                container.parents('.panel').find('.refreshReport').trigger('click');

            })
        })

        var hash = document.location.hash;
        var prefix = "tab_";
        var myChart;

        if (hash) {
            let report_slug = hash.replace(prefix, "");
            $('.nav-tabs a[href="' + report_slug + '"]').tab('show');
            loadReport(report_slug.slice(1));
        } else {
            let first_report = $('.nav-tabs a:first');
            first_report.tab('show');
            loadReport(first_report.attr('href').slice(1))
        }

        // Change hash for page-reload
        $(".nav-tabs a").on('shown.bs.tab', function (e) {
            var report_slug = $(this).attr('href').slice(1);
            window.location.hash = e.target.hash.replace("#", "#" + prefix);
            var params = $(this).attr('ra-report-param');
            let $tabcontent = $('#' + report_slug);
            {#params += $('#' + report_slug).find('form').serialize();#}
            $tabcontent.find('select').select2()
            $tabcontent.find('.refreshReport').trigger('click')
            {#loadReport(report_slug, params);#}
        });

        function loadReport(report_slug, params, callback) {
            return;
            {#if (typeof (params) == "undefined") {#}
            {#    params = report_slug + '/?' + $(report_slug).find('form').serialize();#}
            {# }#}
            {#blockDiv($tabcontent);#}
            {#var url = params;#}
            {#$.get(url, function (data) {#}
            {#    var form_settings = data['form_settings'] || {};#}
            {#    var frontend_settings = form_settings['frontend_settings'] || {};#}
            {#    var func_path = frontend_settings['displayReportFunc'] || '$.ra.report_loader.displayReport';#}
            {#    executeFunctionByName(func_path, window, data, url);#}
            {##}
            {# }).fail(function () {#}
            {#    $.ra.report_loader.failFunction($tabcontent);#}
            {#    unblockDiv($tabcontent);#}
            {# });#}
        }


        $('.refreshReport').on('click', function (event) {
            event.preventDefault();
            let $this = $(this);
            let $elem = $('[data-report-widget][data-report-url="' + $this.attr('data-report-url') + '"]')
            let $form = $('.formContainer[data-report-url="' + $this.attr('data-report-url') + '"] form')
            $.ra.report_loader.refreshReportWidget($elem, $form.serialize())
        });

        $('.printReport').on('click', function (event) {
            event.preventDefault();
            let $this = $(this);
            var report_slug = $this.attr('data-report-slug');
            var report_url = $this.attr('data-report-url');
            var print_theme = $this.attr('print_theme');
            var formSerialize = $('div[data-report-slug=' + report_slug + '] form').serialize();
            print_theme = typeof (print_theme) === 'undefined' ? 'default' : print_theme;
            window.open(report_url + '?&print=true&print_theme=' + print_theme + formSerialize, report_slug);
        });

        $('.download-csv').on('click', function (event) {
            event.preventDefault();
            let $this = $(this);

            var report_slug = $this.attr('data-report-slug');
            var report_url = $this.attr('data-report-url');
            var formSerialize = $('div[data-report-slug=' + report_slug + '] form').serialize();

            window.open(report_url + '?&csv=true&download=true&' + formSerialize, report_slug);


        });


    </script>


{% endblock %}