{% extends admin_base_site_template|default:"admin/base.html" %}

{% load i18n static %}
{% load jazzy_tabler erp_reporting_tags i18n %}

{% get_jazzy_settings request as jazzy_settings %}

{% block title %}{{ title|capfirst }} | {{ site_title|default:_('Django ERP Framework') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:'' }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block extrastyle %}
    <link href="{% static "erp_framework/css/animate.min.css" %}" rel="stylesheet" type="text/css">

    <style>
        .groupChartControllers {
            margin: 5px;
            text-align: center;
        }

        .nav-charts {
            display: inline-flex;
        }

    </style>

{% endblock %}
{#{% block sidebar %}#}
{#    {% include 'erp_framework/sidebar.html' %}#}
{#{% endblock %}#}


{% block extra_js %}
    {% include "erp_framework/js_resources.html" %}
    <script>
        (function () {
            try {
                setTimeout(function () {
                    document.querySelector('.nav-link.active').scrollIntoView({
                        behavior: 'instant',
                        block: 'center'
                    })
                }, 100);

            } catch (e) {
                console.warn('Could not scroll active nav item into view:', e);
            }
        })();
    </script>
{% endblock %}