{% load erp_reporting_tags i18n %}


<li class="nav-item">
    <a class="nav-link">
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <i class="fas fa-chart-area"></i>
                            </span>
                                        <span class="nav-link-title">
                                            {% translate "Reports" %}
                                        </span>
                                    </a>


</li>

{% if is_flat %}
    {% for report in reports %}
        {% is_active_report report as is_active %}
        <li class="nav-item">
            <a class="nav-link {% if is_active %}active{% endif %}" href="{% get_report_url report %}">
                {{ report.get_report_title }}
            </a>
        </li>
    {% endfor %}
{% else %}

    {% for base_model, reports in base_models_reports_tuple %}
        <li class="nav-item dropdown {% if CURRENT_REPORT and CURRENT_REPORT.base_model == base_model %}active{% endif %}">
            <a class="nav-link dropdown-toggle {% if CURRENT_REPORT and CURRENT_REPORT.base_model == base_model %}show{% endif %}"
               href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="true">

            <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler.io/icons/icon/ -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chart-bar"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -6" /><path d="M15 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -10" /><path d="M9 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1l0 -14" /><path d="M4 20h14" /></svg>
            </span>

            <span class="nav-link-title">
                    {{ base_model.verbose_name|capfirst }} </span>
{#                    <i class="nav-arrow fas fa-chevron-right" aria-hidden="true"></i>#}

            </a>
            <div class="dropdown-menu">
                {% for report in reports %}
                    {% is_active_report report as is_active %}
{#                    <li class="nav-item">#}
                        <a class="dropdown-item {% if is_active %}active{% endif %}"
                           href="{% get_report_url report %}">
                            <p>{{ report.get_report_title }}</p>
                        </a>
{#                    </li>#}
                {% endfor %}
            </div>
        </li>
    {% endfor %}

{% endif %}
